
#TimerBox
{
    background-color: gray;
    x:250px;
    y:0px;
    width: 200px;
    height: 100px;
    vertical-align: bottom;
    border-radius: 0px 0px 75px 75px;
    border: 3px solid yellow;
}

#TimerBox.timerbox_hidden
{
    opacity: 0;
}

#Timer
{
    margin-top: 20px;
    font-size: 36px;
    horizontal-align: center;
    vertical-align: top;
    font-weight: bolder;
    color: white;
	text-shadow: 2px 2px 2px #7b612b;
    text-align: center;
	width: 100%;
    text-overflow: clip;
}

#Timer.timer_visible
{
    opacity: 1;
}

#Timer.timer_hidden
{
    opacity: 0;
}

#Timer.timer_alert
{
    color: red;
}